<div ng-app="trainingBrowserApp" ng-controller="MainController as mainController">
    <div ng-view></div>

    <script type="text/ng-template" id="trainingSelectorPanel.html">
    <div training-selector-panel>

        <nav class="breadcrumb">
            <a class="breadcrumb-item ects-link text-primary" ng-click="mainController.goToPath(\'\')">Studiegids</a>
        </nav>

        <div class="row">
            <div class="col-xs-12">

                <div class="card m-b-2">
                    <div class="card-header">Zoekcriteria</div>
                    <div class="card-block">
                        <div class="card-text form">
                            <div class="col-xs-12 col-lg-2">
                                <div class="form-group">
                                    <label for="academicYear">Academiejaar</label>

                                    <select class="form-select form-control" id="academicYear"
                                        ng-model="trainingSelector.filterAcademicYear"
                                        ng-options="item for item in trainingSelector.academicYears"
                                        ng-change="trainingSelector.selectAcademicYear()">
                                    </select>

                                </div>
                            </div>
                            <div class="col-xs-12 col-lg-5">
                                <div class="form-group">
                                    <label for="faculty">Departement</label>

                                    <select class="form-select form-control" id="faculty"
                                        ng-model="trainingSelector.filterFaculty"
                                        ng-options="faculty.faculty for faculty in trainingSelector.faculties"
                                        ng-change="trainingSelector.selectFaculty()">
                                        <option value="">-- Alle departementen --</option>
                                    </select>

                                </div>
                            </div>
                            <div class="col-xs-12 col-lg-5">
                                <div class="form-group">
                                    <label for="trainingType">Opleidingstype</label>

                                    <select class="form-select form-control" id="trainingType"
                                        ng-model="trainingSelector.filterTrainingType"
                                        ng-options="trainingType.type for trainingType in trainingSelector.trainingTypes"
                                        ng-change="trainingSelector.selectTrainingType()">
                                        <option value="">-- Alle opleidingstypes --</option>
                                    </select>

                                </div>
                            </div>
                            <div class="col-xs-12 col-lg-9">
                                <div class="form-group">
                                    <label for="filterText">Filter</label>
                                    <input type="text" class="form-control" id="filterText"
                                        placeholder="Vrije zoekfilter" ng-model="trainingSelector.filterText"
                                        ng-change="trainingSelector.setFilterText()"
                                        ng-model-options="{ debounce: 500 }">
                                </div>
                            </div>
                            <div class="col-xs-12 col-lg-3">
                                <div class="form-group">
                                    <label class="hidden-md-down">&nbsp;&nbsp;</label>
                                    <button class="btn btn-primary form-control"
                                        ng-click="trainingSelector.resetFilters()">Wis zoekcriteria</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row" training-cards-panel>
            <div class="col-xs-12">

                <div class="card card-block" ng-repeat="type in trainingCards.trainingsByType"
                    ng-hide="trainingCards.isLoadingTrainingList">
                    <h5 class="card-title">{{ type.type }}</h5>
                    <p class="card-text">
                        <span ng-repeat="training in type.training">
                            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            &nbsp;&nbsp;
                            <a class="ects-link text-primary"
                                ng-click="mainController.goToPath(\'training/\' + training.id)">{{ training.name }}</a>
                            <br />
                        </span>
                    </p>
                </div>

                <div class="card card-block"
                    ng-show="trainingCards.trainingsByType.length == 0 && trainingCards.isLoadingTrainingList == false">
                    <h5 class="card-title">Geen resultaten</h5>
                    <p class="card-text">
                        <span>Er werden helaas geen opleidingen gevonden die aan je zoekcritera voldoen.</span>
                    </p>
                </div>

                <div class="card card-block" ng-show="trainingCards.isLoadingTrainingList">
                    <p class="card-text text-xs-center text-muted">
                        <i class="fa fa-refresh fa-spin fa-5x fa-fw"></i>
                        <span class="sr-only">Loading...</span>
                        <br />
                    <h6 class="text-xs-center text-muted">Opleidingen worden geladen</h6>
                    </p>
                </div>

            </div>
        </div>

    </div>
    </script>

    <script type="text/ng-template" id="trainingDetailsPanel.html">
    <div training-details-panel>

        <div class="card card-block" ng-show="trainingDetails.isLoadingTraining">
            <p class="card-text text-xs-center text-muted">
                <i class="fa fa-refresh fa-spin fa-5x fa-fw"></i>
                <span class="sr-only">Loading...</span>
                <br />
            <h6 class="text-xs-center text-muted">Opleiding wordt geladen</h6>
            </p>
        </div>

        <div ng-hide="trainingDetails.isLoadingTraining">

            <nav class="breadcrumb">
                <a class="breadcrumb-item ects-link text-primary" ng-click="mainController.goToPath(\'\')">Studiegids</a>
                <a class="breadcrumb-item ects-link text-primary"
                    ng-click="mainController.goToPath(\'training/\' + trainingDetails.training.id)">{{
                    trainingDetails.training.name }}</a>
            </nav>

            <div class="row">
                <div class="col-xs-12">

                    <h3 class="text-primary m-b-2">{{ trainingDetails.training.name }}</h3>

                    <div class="card m-b-2">

                        <div class="card-header">Algemeen</div>
                        <div class="card-block">
                            <span class="text-muted">Academiejaar:</span>
                            {{ trainingDetails.training.year }}
                            <br />
                            <span class="text-muted">Departement:</span>
                            {{ trainingDetails.training.faculty }}
                            <br />
                            <span class="text-muted">Domein:</span>
                            {{ trainingDetails.training.domain }}
                            <br />
                            <span class="text-muted">Studieomvang in studiepunten:</span>
                            {{ trainingDetails.training.credits }}
                            <br />
                        </div>

                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">

                    <div class="card">

                        <div class="card-header">Opleidingstrajecten</div>

                        <div class="card-block" ng-repeat="trajectory in trainingDetails.training.trajectories">
                            <h5 class="card-title">{{ trajectory.name }}</h5>
                            <p class="card-text">
                                <span ng-repeat="subTrajectory in trajectory.trajectories">
                                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                    &nbsp;&nbsp;
                                    <a class="ects-link text-primary"
                                        ng-click="mainController.goToPath(\'trajectory/\' + subTrajectory.id)">{{
                                        subTrajectory.name }}</a>
                                    <br />
                                </span>
                            </p>
                        </div>

                    </div>

                    <button type="button" class="btn btn-primary" ng-click="mainController.goToPath(\'\')">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        &nbsp;&nbsp;Terug
                    </button>

                </div>

            </div>
        </div>

    </div>
    </script>

    <script type="text/ng-template" id="subTrajectoryDetailsPanel.html">
    <div sub-trajectory-details-panel>

        <div class="card card-block" ng-show="subTrajectoryDetails.isLoadingSubTrajectory">
            <p class="card-text text-xs-center text-muted">
                <i class="fa fa-refresh fa-spin fa-5x fa-fw"></i>
                <span class="sr-only">Loading...</span>
                <br />
            <h6 class="text-xs-center text-muted">Traject wordt geladen</h6>
            </p>
        </div>

        <div ng-hide="subTrajectoryDetails.isLoadingSubTrajectory">

            <nav class="breadcrumb">
                <a class="breadcrumb-item ects-link text-primary" ng-click="mainController.goToPath(\'\')">Studiegids</a>
                <a class="breadcrumb-item ects-link text-primary"
                    ng-click="mainController.goToPath(\'training/\' + subTrajectoryDetails.subTrajectory.training.id)">{{
                    subTrajectoryDetails.subTrajectory.training.name }}</a>
                <a class="breadcrumb-item ects-link text-primary"
                    ng-click="mainController.goToPath(\'training/\' + subTrajectoryDetails.subTrajectory.sub_trajectory.id)">{{
                    subTrajectoryDetails.subTrajectory.sub_trajectory.name }}</a>
            </nav>

            <div class="row">
                <div class="col-sm-12">
                    <h3 class="text-primary m-b-2">
                        Programma {{ subTrajectoryDetails.subTrajectory.training.name }}
                        <br />
                        <small class="text-muted">({{ subTrajectoryDetails.subTrajectory.sub_trajectory.name }})</small>
                    </h3>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="ects-course-name">Opleidingsonderdeel</th>
                                <th class="ects-course-credits">
                                    <i class="fa fa-graduation-cap" aria-hidden="true" title="Studiepunten"></i>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="course in subTrajectoryDetails.subTrajectory.courses">
                                <td class="ects-course-name" ng-if="course.approved == 1">
                                    <small class="text-muted" ng-if="course.parent_programme_id != null">
                                        &nbsp;&nbsp;&#8226;&nbsp;
                                        <a class="ects-link text-primary"
                                            ng-click="mainController.goToPath(\'course/\' + course.programme_id)">
                                            {{ course.name }} </a>
                                    </small>
                                    <span ng-if="course.parent_programme_id == null">
                                        <a class="ects-link text-primary"
                                            ng-click="mainController.goToPath(\'course/\' + course.programme_id)">
                                            {{ course.name }} </a>
                                    </span>
                                </td>
                                <td class="ects-course-name" ng-if="course.approved == 0">
                                    <small class="text-muted" ng-if="course.parent_programme_id != null">
                                        &nbsp;&nbsp;&#8226;&nbsp;
                                        <span class="ects-link-disabled">{{ course.name }}</span>
                                    </small>
                                    <span ng-if="course.parent_programme_id == null" class="ects-link-disabled">
                                        {{ course.name }} </span>
                                </td>
                                <td class="ects-course-credits">
                                    <small class="text-muted" ng-if="course.parent_programme_id != null">{{
                                        course.credits }}</small>
                                    <span ng-if="course.parent_programme_id == null">{{ course.credits }}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-primary"
                        ng-click="mainController.goToPath(\'training/\' + subTrajectoryDetails.subTrajectory.training.id)">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        &nbsp;&nbsp;Terug
                    </button>
                </div>
            </div>

        </div>

    </div>
    </script>

    <script type="text/ng-template" id="courseDetailsPanel.html">
    <div course-details-panel>

        <div class="card card-block" ng-show="courseDetails.isLoadingCourse">
            <p class="card-text text-xs-center text-muted">
                <i class="fa fa-refresh fa-spin fa-5x fa-fw"></i>
                <span class="sr-only">Loading...</span>
                <br />
            <h6 class="text-xs-center text-muted">Opleidingsonderdeel wordt geladen</h6>
            </p>
        </div>

        <div ng-hide="courseDetails.isLoadingCourse">

            <nav class="breadcrumb">
                <a class="breadcrumb-item ects-link text-primary" ng-click="mainController.goToPath(\'\')">Studiegids</a>
                <a class="breadcrumb-item ects-link text-primary"
                    ng-click="mainController.goToPath(\'training/\' + courseDetails.course.training_id)">{{
                    courseDetails.course.training }}</a>
                <a class="breadcrumb-item ects-link text-primary"
                    ng-click="mainController.goToPath(\'course/\' + courseDetails.course.id)">{{
                    courseDetails.course.name }}</a>
            </nav>

            <h3 class="text-primary m-b-2">{{ courseDetails.course.name }}</h3>

            <div class="row">
                <div class="col-sm-12">
                    <div class="card ects-course-summary">
                        <div class="card-block">
                            <span class="text-muted">Academiejaar:</span>
                            {{ courseDetails.course.year }}
                            <br />
                            <span class="text-muted">Departement:</span>
                            {{ courseDetails.course.faculty }}
                            <br />
                            <span class="text-muted">Opleiding:</span>
                            {{ courseDetails.course.training }}
                            <br />
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="card card-block" ng-show="courseDetails.isLoadingCourseDetails">
            <p class="card-text text-xs-center text-muted">
                <i class="fa fa-refresh fa-spin fa-5x fa-fw"></i>
                <span class="sr-only">Loading...</span>
                <br />
            <h6 class="text-xs-center text-muted">ECTS fiche wordt geladen</h6>
            </p>
        </div>

        <div ng-hide="courseDetails.isLoadingCourseDetails">

            <div class="row">
                <div class="col-sm-12">
                    <div ng-bind-html="courseDetails.getCourseDetails()"></div>
                </div>
            </div>

        </div>

    </div>
    </script>
</div>