@CHARSET "UTF-8";

.logo {
	margin-bottom: 10px
}

.logo img {
	max-width: 100%;
	max-height: 100%
}

.titlebar {
	padding: 10px;
	background-color: #f5f5f5;
	border-bottom: 1px solid #ccd0d3;
	box-shadow: inset 0 -3px 3px -4px rgba(0, 0, 0, .3)
}

#wrapper {
	margin: 0 auto;
	padding: 5px;
	max-width: 1170px;
	width: auto;
	min-width: 993px
}

#wrapper #container {
	background-color: #fff;
	border: 1px solid #ccd0d3;
	z-index: 1;
	box-shadow: 0 0 1px #888
}

#wrapper #container #content {
	padding: 10px
}

.moduleTitel {
	float: left;
	color: #015886;
	font-weight: 700
}

.moduleExtra {
	float: right;
	position: relative;
	margin: 4px 10px 0 0;
	color: #595959;
}

.errorpage {
	background-color: #ededed
}

.errorpage-container {
	padding: 20px;
	word-wrap: break-word
}

.errorpage-container-inner {
	color: #737980 !important;
	background-color: #fff;
	padding: 30px;
	margin: 0 auto;
	max-width: 700px;
	border: 1px solid #acacb5;
	box-shadow: 0 0 5px #acacb5
}

.errorpage-container ul {
	padding-left: 20px
}

.errorpage-container h1 {
	margin-top: 0
}

.errorpage-content {
	line-height: 160%
}

.errorpage-button {
	line-height: 20px;
	height: 30px;
	max-height: 30px;
	width: 100%;
	padding: 3px;
	color: #737980;
	border: 1px solid rgba(23, 50, 77, .4);
	-o-border-image: none;
	border-image: none;
	border-radius: 5px;
	background-color: #f1f1f1;
	text-shadow: 0 1px 1px #fefffe;
	background-image: -webkit-linear-gradient(#fff, hsla(0, 0%, 100%, .1));
	background-image: linear-gradient(#fff, hsla(0, 0%, 100%, .1));
	box-shadow: 0 1px 1px 0 #fff, inset 0 2px 2px 0 #fff;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.errorpage-button:hover {
	background-image: -webkit-linear-gradient(#fff, hsla(0, 0%, 100%, .6));
	background-image: linear-gradient(#fff, hsla(0, 0%, 100%, .6));
	cursor: pointer
}

.errorMessage {
	background-color: #fff;
	padding: 3px;
}

.errorMessage .errorHeader {
	background-color: #bf3309;
	padding: 5px 10px;
	border: 1px solid #9c2401;
	color: #fff;
	font-weight: 700;
	margin-bottom: 5px;
	margin-top: 3px;
	border-radius: 5px
}

.errorMessage .errorFooter {
	overflow: hidden;
	width: 100%
}

.errorMessage .errorTitle {
	clear: left;
	color: #4682b4;
	font-weight: 700;
	margin-top: 5px
}

.errorMessage .errorDetail {
	color: #c00000;
	float: left;
	width: 85%;
	height: 85px;
	overflow: auto;
	padding: 2px;
	margin-left: 10px;
	margin-bottom: 10px
}

.errorMessage .errorImage {
	float: left;
	width: 32px;
	margin-left: 10px
}

.errorMessage .divErrorDetails {
	margin-top: 5px;
	border: 1px solid #a5a5a5;
	height: 170px;
	overflow: auto;
	background-color: #d3d3d3
}

.printhoofding {
	display: none
}

@media print {
	body {
		padding: 0 !important;
		background: none !important
	}
	#header, .commandBar, .logo, .navbar, .printknop, .RadButton,
		.RadTabStrip, .titlebar, .xOLODDetailIcon {
		display: none !important
	}
	#content {
		background: none;
		overflow: visible;
		height: 100%;
		line-height: 160%
	}
	#content, #wrapper {
		padding: 0
	}
	#wrapper #container {
		border: 0;
		padding: 0;
		box-shadow: none
	}
	embed, object {
		display: none
	}
	.DetailxOLODBovenLijn, .topbar {
		padding: 0 0 5px !important;
		border: 0 !important;
		border-radius: 0 !important;
		border-bottom: 1px solid #000 !important
	}
	.divTitel {
		border: none !important
	}
	.DetailxOLODTitelTekst {
		border-bottom: 1px dashed grey;
		font-variant: small-caps
	}
	.printhoofding {
		display: block
	}
	.printtitel {
		border: 1px solid #000;
		padding: 10px;
		font-weight: 700;
		margin-top: 5px
	}
	.hideOnPrint {
		display: none !important
	}
}

@page {
	margin: 1cm .5cm 1cm .75cm;
}

@media screen and (max-width:330px) {
	.fluid .navlogo {
		text-indent: -9999px
	}
}

@media screen and (max-width:415px) {
	.fluid .navlogo {
		
	}
}

@media screen and (max-width:620px) {
	.fluid .nav-userinfo {
		width: 51px !important;
		padding: 0 !important
	}
	.fluid .nav-userinfo-inner {
		display: none
	}
	.fluid .nav-userinfo-small {
		display: block;
		width: 51px;
		height: 51px
	}
	.fluid .loginkader {
		box-shadow: 0 0 2px #d3d3d3;
		max-width: none;
		padding: 12px
	}
	.errorpage {
		background-color: #fff !important
	}
	.errorpage-container {
		padding: 0 !important
	}
	.errorpage-container-inner {
		border: none !important;
		box-shadow: none !important
	}
}

@media screen and (max-width:1170px) {
	#wrapper {
		padding: 0
	}
	#wrapper #container {
		border: none;
		box-shadow: none
	}
	#wrapper #container #content {
		padding: 10px
	}
	body.mMain {
		background: none
	}
}

@media screen and (max-width:1024px) {
	.navbar {
		position: absolute !important
	}
}

.bold {
	font-weight: 700
}

.italic {
	font-style: italic
}

.underline {
	text-decoration: underline
}

.image {
	padding: 5px
}

.red {
	color: red
}

.green {
	color: green
}

.full-width {
	width: 100% !important
}

.pad0 {
	padding: 0
}

.pad5 {
	padding: 5px
}

.pad8 {
	padding: 8px
}

.pad10 {
	padding: 10px
}

.pad15 {
	padding: 15px
}

.padT8 {
	padding-top: 8px
}

.padT4 {
	padding-top: 4px
}

.padT10 {
	padding-top: 10px
}

.padT15 {
	padding-top: 15px
}

.padB3 {
	padding-bottom: 3px
}

.padB8 {
	padding-bottom: 8px
}

.padB15 {
	padding-bottom: 15px
}

.padL0 {
	padding-left: 0
}

.padL5 {
	padding-left: 5px
}

.padL10 {
	padding-left: 10px
}

.padL15 {
	padding-left: 15px
}

.padL20 {
	padding-left: 20px
}

.padL25 {
	padding-left: 25px
}

.padL30 {
	padding-left: 30px
}

.padR5 {
	padding-right: 5px
}

.padR10 {
	padding-right: 10px
}

.padR15 {
	padding-right: 15px
}

.mar0 {
	margin: 0 !important
}

.mar8 {
	margin: 8px
}

.marL5 {
	margin-left: 5px
}

.marL15 {
	margin-left: 15px
}

.marL25 {
	margin-left: 25px
}

.marB0 {
	margin-bottom: 0
}

.marB5 {
	margin-bottom: 5px
}

.marB10 {
	margin-bottom: 10px
}

.marB15 {
	margin-bottom: 15px
}

.marT0 {
	margin-top: 0
}

.marT5 {
	margin-top: 5px
}

.marT10 {
	margin-top: 10px
}

.marT15 {
	margin-top: 15px
}

fieldset {
	border: 1px solid #e7e7e7;
	border-radius: 3px
}

td {
	vertical-align: middle
}

.boxschaduw {
	box-shadow: 0 0 2px #c4c4c4
}

.borderradius_klein {
	border-radius: 3px
}

.border {
	border: 1pt solid #e7e7e7
}

.DetailxOLODBovenLijn {
	border: 1px solid #e7e7e7;
	text-align: left;
	margin-bottom: 5px
}

.DetailxOLODBovenLijn ul, ol {
	margin-top: 0;
	margin-bottom: 0;
	clear: left;
	margin-left: 25px
}

.DetailxOLODTitelTekst {
	background-color: #e7e7e7;
	color: gray;
	font-weight: 700;
	padding: 4px 8px
}

.DetailxOLODLabel {
	float: left;
	background-color: Transparent;
	color: #333
}

.DetailxOLODLabelTitel {
	text-align: left;
	background-color: Transparent;
	font-weight: 700;
	color: #2d3d4f;
	font-style: italic;
}

.DetailxOLODLijnGroep {
	
}

.DetailxOLODdivUl {
	float: left;
	padding-left: 15px;
	width: 700px;
	margin: 0;
	padding: 0
}

.DetailxOLODul {
	clear: left;
	margin: 0;
	padding: 0
}

.DetailxOLODtable {
	border: 1px solid #828282;
	background: #fff;
	color: #000;
	border-collapse: separate;
	border-spacing: 2px
}

.DetailxOLODtable .rgHeader {
	background: #9e9e9e;
	color: #fff;
	padding: 5px
}

.DetailxOLODdivUl2exkans {
	float: left;
	width: 800px
}

.DetailxOLODLegenditel {
	background-color: Transparent;
	font-weight: 700;
	font-style: italic
}

.DetailxOLODBijkTiteldOLOD {
	font-style: italic;
	font-weight: 700;
	text-decoration: underline
}

.DetailxOLODstudmatVerplichtAanbevolen {
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 5px;
	border-left: 1px dotted #a40000;
	border-collapse: separate
}

.DetailxOLODImage {
	padding: 2px
}

.DetailxOLODTitelToevPrimEindComp {
	padding-left: 3px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: 700;
	color: #000
}

.DetailxOLODgedrind {
	margin-left: 20px;
	margin-right: 0;
	margin-top: 0;
	padding-top: 0;
	width: 98%;
	border-collapse: separate
}

.DetailxOLODgedrind td {
	background-color: #e7e7e7;
	border: 1pt solid gray;
	padding: 5px;
	font-weight: 400;
	color: #000;
	vertical-align: top
}

.DetailxOLODOpleidingComp {
	border-bottom: 1pt solid #000;
	padding-bottom: 2px
}

.DetailxOLODTabelOpleidingComp {
	border-collapse: collapse;
	background-color: #d9dfea;
	border: 1pt solid #000;
	margin-left: 15px
}

.DetailxOLODTitelEval {
	font-style: italic;
	margin-bottom: 2px
}

.DetailxOLODImg58 {
	padding-top: 0;
	padding-bottom: 0;
	margin-right: 4px
}

.DetailxOLODmediaURL td {
	vertical-align: top;
	text-align: left
}

.xOLODDetailLink {
	cursor: pointer;
	border-bottom: 1px solid;
	color: #00f
}

.xOLODDetailLink:hover {
	color: #7c98b4;
	border-bottom: 1px dashed #7c98b4
}

.SELSGDGegevens {
	text-align: left;
	margin-top: 7px
}

.SELSGDlabel {
	float: left;
	position: relative;
	text-align: right;
	width: 220px
}

.SELSGDlabel, .SELSGDLabelURL {
	background-color: Transparent;
	color: #333;
	font-weight: 700;
	padding-right: 15px
}

.SELSGDcombo {
	float: left;
	margin: 0;
	padding: 0 5px 0 0;
	line-height: 14px
}

.SELSGDCol1 {
	width: 75px
}

.SELSGDCol2 {
	width: 310px
}

.divURLs {
	background-color: #fff9f3;
	border: 1px solid #ffd0a1
}

.superscript {
	vertical-align: top
}

.lichtgeel {
	background-color: #fffdec !important;
	border-color: #e3c600 !important
}

.lichtgrijs {
	background-color: #e6e9f2 !important
}

.subscript {
	
}

.linkInformat, .linkInformat:link, .linkInformat:visited {
	color: #57b;
	background-color: transparent;
	text-decoration: underline;
}

.linkInformat:hover {
	color: #023771
}

.oudllnres input[type=radio] {
	margin-right: 5px
}

.oudllnres .studiePerAca {
	width: 100%;
	margin-bottom: 3px;
	table-layout: fixed
}

.oudllnres .studiePerAca td+td {
	overflow: hidden;
	vertical-align: top
}

.oudllnres .tabelInschr {
	table-layout: fixed;
	color: #0e4192
}

.oudllnres .tableUitleg td, th {
	border: 1pt solid #d3d3d3
}

.oudllnres .tableUitleg th {
	background-color: #fff
}

.commandBar {
	background-color: #f0f5fb;
	border: 1px solid #d9e2f0;
	padding: 10px;
	min-height: 44px
}

.INodeCollapse {
	background: url(../images/toggle-small-collapse.png) 0 1px no-repeat
}

.INodeExpand {
	background: url(../images/toggle-small-expand.png) 0 1px no-repeat
}

.INodeCollapse, .INodeExpand {
	cursor: pointer;
	padding: 0 0 0 18px
}

.BNodeCollapse {
	background: url(../images/toggle-small-collapse.png) 15px 1px no-repeat
}

.BNodeExpand {
	background: url(../images/toggle-small-expand.png) 15px 1px no-repeat
}

.BNodeCollapse, .BNodeExpand {
	cursor: pointer;
	padding: 5px 0 5px 25px
}

.loginkader {
	border: 1px solid #acacb5;
	max-width: 540px;
	background-color: #fff;
	margin: 0 auto;
	padding: 20px;
	box-shadow: 0 0 5px #acacb5
}

.loginlabel {
	color: #617d97;
	font-weight: 400
}

.textbox {
	margin-top: 5px;
	border: 1px solid #cbcbcb;
	padding: 3px;
	width: 300px;
	margin-bottom: 10px
}

.taalkeuze {
	background-color: #e2eaed;
	margin-bottom: 15px;
	padding: 10px;
	text-align: center;
}

.taalkeuze a, .taalkeuze a:visited {
	font-weight: 700;
	color: #416a91;
	text-decoration: none
}

.taalkeuze a:hover {
	color: #7ea2c4;
	font-weight: 700;
	text-decoration: underline
}

.iconMenu {
	padding: 0 0 0 21px;
	background: transparent 0 2px no-repeat
}

.iconMenuGebruiker {
	background-image: url(../images/Gebruiker.png)
}

.iconMenuWachtwoord {
	background-image: url(../images/Wachtwoord.png)
}

.iconMenuCaptcha {
	background-image: url(../images/Captcha.png)
}

.oudllnres .toggleButtonContainer {
	background: #89a7d1 url(../images/togglebg.jpg) repeat-x
}

.oudllnres .toggleButton, .oudllnres .toggleButtonCollapse {
	color: #3f4c6b;
	font-weight: 700;
	cursor: pointer;
	border: 1px solid #395378;
	padding: 5px 10px 5px 25px;
	position: relative
}

.oudllnres .toggleButton:hover, .oudllnres .toggleButtonCollapse:hover {
	color: #0f46ca;
	border: 1px solid #0f46ca
}

.oudllnres .toggleButton {
	background: transparent url(../images/toggle.png) 5px 7px no-repeat
}

.oudllnres .toggleButtonCollapse {
	background: transparent url(../images/toggle-collapse.png) 5px 7px
		no-repeat
}

.oudllnres .toggleButton .toggleDescr, .oudllnres .toggleButtonCollapse .toggleDescr
	{
	font-weight: 400;
	font-style: italic;
	margin-left: 5px;
	display: none
}

.oudllnres .toggleContent {
	background-color: #fff;
	padding-left: 15px
}

.oudllnres .toggleContent .treeItem {
	border-left: 1px dotted #a40000;
	padding: 5px 0 5px 5px
}

.oudllnres .toggleStudieButtonContainer {
	border: 1px solid transparent
}

.oudllnres .toggleStudieButtonContainer:hover {
	border: 1px solid #0f46ca
}

.oudllnres .toggleStudieButton, .oudllnres .toggleStudieButtonCollapse {
	cursor: pointer;
	padding: 5px 0 5px 25px;
	position: relative
}

.oudllnres .toggleStudieButton:hover, .oudllnres .toggleStudieButtonCollapse:hover
	{
	color: #0f46ca
}

.oudllnres .toggleStudieButton {
	background: transparent url(../images/toggle.png) 5px 7px no-repeat
}

.oudllnres .toggleStudieButtonCollapse {
	background: transparent url(../images/toggle-collapse.png) 5px 7px
		no-repeat
}

.oudllnres .toggleStudieButton .toggleDescr, .oudllnres .toggleStudieButtonCollapse .toggleDescr
	{
	font-weight: 400;
	font-style: italic;
	margin-left: 5px;
	display: none
}

.oudllnres .toggleStudieContent {
	background-color: #fff;
	padding-left: 20px
}

.oudllnres .toggleStudieContent .treeItem {
	border: none;
	padding-bottom: 0;
	padding-top: 0
}

.oudllnres .tdSP {
	text-align: right
}

.oudllnres .tdSP, .oudllnres .tdSPL {
	padding-right: 2px;
	vertical-align: top
}

.oudllnres .tdSPL {
	text-align: center
}

.oudllnres .SPgeen {
	background-color: transparent
}

.oudllnres .SPvrij {
	background-color: #e1effa
}

.oudllnres .SPverw, .oudllnres .SPvrij {
	border: 1pt solid #d3d3d3;
	cursor: default
}

.oudllnres .SPverw {
	background-color: #d3f3c4
}

.oudllnres .SPgevolgd {
	background-color: #ffffd9
}

.oudllnres .SPgevolgd, .oudllnres .SPSE {
	border: 1pt solid #d3d3d3;
	cursor: default
}

.oudllnres .SPSE {
	background-color: #ffe1aa
}

.oudllnres .bSPvrij {
	background-color: #b8d0de;
	border: 1pt solid #98b1c4;
	cursor: default
}

.oudllnres .bSPverw {
	background-color: #ade493;
	border: 1pt solid #98b1c4;
	cursor: default
}

.oudllnres .bSPgevolgd {
	background-color: #ffffa6;
	border: 1pt solid #98b1c4;
	cursor: default
}

.oudllnres .bSPSE {
	background-color: #ffd384;
	border: 1pt solid #98b1c4;
	cursor: default
}

.ralpFS {
	position: fixed;
	z-index: 7;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0
}

.validation {
	border-color: #de4206;
	color: #fff !important;
	background: #de4206 url(../images/mnu-exclam.png) no-repeat 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, .2);
	padding: 7px 5px 7px 45px;
	margin-bottom: 8px
}

.validation ul {
	display: none;
	visibility: hidden
}

.form-error {
	display: block;
	background-color: red !important;
	padding: 5px !important;
	color: #fff !important;
	position: relative;
	font-style: italic;
}

.form-error:after {
	bottom: 100%;
	left: 20px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: red;
	border-width: 5px;
	margin-left: -5px
}

.ALStudie {
	border: 1pt solid #d8ddeb;
	padding: 5px 10px
}

.ALInschrijving {
	margin-left: 10px;
	border-left: 1px dotted #a40000;
	background-color: #fff;
	padding: 5px 0 5px 5px
}

.h-highlight {
	background-color: #f6faff;
	padding: 10px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc
}